<!--<router-outlet></router-outlet>
<app-nav></app-nav>-->
<!--
  <mat-toolbar *ngIf="verificar()">
      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="validarRol()"  routerLink="/components/destinos">
          <span>Destino</span>
      </button>
      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="validarRol()"  routerLink="/components/pagos">
          <span>Pago</span>
      </button>
      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="validarRol()"  routerLink="/components/profesores">
          <span>Profesor</span>
      </button>
      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="validarRol()"  routerLink="/components/rutas">
          <span>Ruta</span>
      </button>
      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="validarRol()"  routerLink="/components/sugerencias">
          <span>Sugerencia</span>
      </button>
      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="validarRol()"  routerLink="/components/membresias">
          <span>Tipos de membresia</span>
      </button>
      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="validarRol()"  routerLink="/components/ubicaciones">
          <span>Ubicacion</span>
      </button>
      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="validarRol()"  routerLink="/components/ubicacionesfavoritas">
          <span>Ubicaciones favoritas</span>
      </button>
      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="validarRol()"  routerLink="/components/universidades">
          <span>Universidad</span>
      </button>
      <button mat-menu-item class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="validarRol()" routerLink="/components/usuarios">
          <span>Usuario</span>
      </button>
      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      routerLink="/login" (click)="cerrar()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesiòn</span>
      </button>
      <span class="example-spacer"></span>

  </mat-toolbar>

-->
<style>
  *
  {
    margin: 0;
    padding: 0;
  }
</style>
<router-outlet></router-outlet>


