<router-outlet></router-outlet>
<div [hidden]="route.children.length!==0">
  <br><br><br><br><br>
  <app-reporte1></app-reporte1>
  <br><br><br><br><br>
  <app-reporte2></app-reporte2>
  <br><br><br><br><br>
  <app-reporte3></app-reporte3>
  <br><br><br><br><br>
  <app-reporte4></app-reporte4>
  <br><br><br><br><br>
  <app-reporte5></app-reporte5>
  <br><br><br><br><br>
  <app-reporte6></app-reporte6>
  <br><br><br><br><br>
  <app-reporte7></app-reporte7>
  <br><br><br><br><br>
  <app-reporte8></app-reporte8>
  <br><br><br><br><br>
  <app-reporte9></app-reporte9>
  <br><br><br><br><br>
  <app-nav></app-nav>
</div>
